h1 {
    text-align: center;
    color: rgba(15, 146, 233, 0.815);
  }

  body {
    background-color: rgba(15, 146, 233, 0.815);
    text-align: center;
  }
  
  main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
  }
  

.thumbnail-div {
    display: flex;
    justify-content: center;
    text-align: center;
  }

.thumbnail {
    display: flex;
    justify-content: center;
    height: auto;
    width: 1000px;
    margin: 0;
  }

.img-descritpion {
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;

  }
.btn-nav {
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
}
.places-thumbnails {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 500px;
    width: 500px;
    margin: 0;
}

.place-name {
  text-align: center;
}

.places-description {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}
.places-images {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  object-fit:cover;
}
.image-fit{
  text-align: center;
  width:25%;
  height:25%;
  object-fit:cover;
}

nav {
 display: flex;
 justify-content: center;
}

.navbar-collapse {
  justify-content: space-around;
}
.navbar-brand {
  margin: 20px;
}

#navbarSupportedContent {
  display: flex;
}

.row {
  display: flex;
  justify-content: center;
  margin: 0;
}

.form-group {
  margin: auto;
}

